.danger {
  background-color: red;
  color: aliceblue;
}

.primary {
  background-color: blue;
  color: aliceblue;
}

.success {
  background-color: green;
  color: aliceblue;
}

.warning {
  background-color: orange;
  color: aliceblue;
}
